<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多読多聴</title>
    <script>
        function requestSubtitles() {
            let vidLink = document.getElementById("subtitle").value
            let data = {
                url: vidLink
            }

            fetch("/api/subtitles", {
                method: "POST",
                mode: 'cors', 
                cache: 'no-cache', 
                credentials: 'same-origin', 
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrer: 'no-referrer', 
                body: JSON.stringify(data), 
            })
            .then(data => data.json())
            .then(console.log)
            .then(err => console.error)
        }
    </script>
</head>
<body>
    <h1>Find Subtitles</h1>
    <input type="text" id="subtitle" />
    <button onclick="requestSubtitles()">Submit</button>
</html>