<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多読多聴</title>
</head>
<body>
    <h1>Find Subtitles</h1>
    <div id="player"></div>
    <input type="text" id="subtitle" value="https://www.youtube.com/watch?v=WUbSwb43Pek"/>
    <button onclick="requestSubtitles()">Submit</button>
    <ol id="subtitle-place"></ol>
	<script>
        // YouTube shit
        let tag = document.createElement('script')
        tag.src = "https://www.youtube.com/iframe_api"
        let firstScriptTag = document.getElementsByTagName('script')[0]
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
        let player
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
	            height: '390',
	            width: '640',
	            videoId: 'M7lc1UVf-VE',
	            events: {
	                'onStateChange': onPlayerStateChange,
					'onReady': onPlayerReady
	            }
            })
        }

		function goToSeek(item) {
			let sentenceBeginning = item.dataset['sentenceBeginning']
			let sentenceEnd = item.dataset['sentenceEnd']
			player.seekTo(sentenceBeginning)
		}

        function onPlayerStateChange(event) {
			console.log(event);
        }

		function onPlayerReady() {
			console.log('ready');
		}

        function requestSubtitles() {
            let vidLink = document.getElementById("subtitle").value
            let data = {
                url: vidLink
            }

			player.loadVideoById(vidLink.split('=')[1])
            fetch("/api/subtitles", {
                method: "POST",
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrer: 'no-referrer',
                body: JSON.stringify(data),
            })
            .then(data => data.json())
            .then(subtitleData => {
                console.log(subtitleData)
                subtitleData.forEach((lines, i) => {
                    let { sentenceBeginning, sentenceEnd } = lines
                    let subtitleText = lines.parsedData.reduce((totalString, newString) => { 
                        return totalString + "|" + newString.original 
                    }, "")
                    console.log(lines)
                    document.getElementById("subtitle-place").innerHTML += `<li onclick='goToSeek(this)' data-sentence-beginning='${sentenceBeginning}' data-sentence-end='${sentenceEnd}'>${subtitleText}</li>`
                })
            })
            .then(err => console.error)
        }
    </script>
</html>
